<script>
    window.appConfig = {
        baseUrl: '{{ baseUrl }}',
        aiSerchUrl: '{{ aiSearchUrl }}',
        perPage: 21,
        iconFiles: {
            antd: 'js/antd-icon-paths.json',
            mui: 'js/mui-icon-paths.json',
            unicode: 'js/unicode-icon-paths.json',
        },
    }
</script>
